 body {
    background-color: rgb(54, 12, 54) !important;
} 

.container {
    max-width: 400px !important;
    color: #eee !important;
}

 ul li {
    padding: 8px;
    background-color: plum !important;
    color: black !important;
} 

.filtered {
    display: none !important;
}